<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
      <form>
        <label> <h3>Landmark Name: </h3> </label> <a href="/landmarks/<%=landmark.id%">/edit">
        <label> <h3>Year Completed: <%= @landmark.year_completed %> <:/h3> </label>
      </form>
    </body>
</html>
