<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
      <form>
        <h3><label> Figure Name: </label> </h3> <%=@figure.name%> </a>
        <br> </br>
        <h3> <label> Title: </label></h3>
          <li> <%= @title.name %></li>
          <% @figure.titles.each do |title|%>
          <%=title.name%>


        <h3><label> Landmark: </label> </h3>
          <% @figure.landmarks.each do |landmark|%>
            <h3> <%= new_landmark %></h3>
            <% end %>
      </form>
    </body>
</html>
